<div>
    <h2 style="text-align: center;">Select Map Type</h2>
    <div id='mapMenu'>
        <input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked' (change)="mapChange($event)">
        <label for='streets'>streets</label>
        <input id='light-v10' type='radio' name='rtoggle' value='light' (change)="mapChange($event)">
        <label for='light'>light</label>
        <input id='dark-v10' type='radio' name='rtoggle' value='dark' (change)="mapChange($event)">
        <label for='dark'>dark</label>
        <input id='outdoors-v11' type='radio' name='rtoggle' value='outdoors' (change)="mapChange($event)">
        <label for='outdoors'>outdoors</label>
        <input id='satellite-v9' type='radio' name='rtoggle' value='satellite' (change)="mapChange($event)">
        <label for='satellite'>satellite</label>
    </div>
    <br>
    <div class={{map}} id='map'></div>
</div>