.loginDiv {
    width: 40%;
    margin-left: 35%;
    margin-top: 10%;
    text-align: center;
}
.loginLabel {
    width:20%;
    font-size: 20px;
    text-align: left;
}
.loginInput {
    font-size: 15px;
    width: 40%;
    height: 10%;
    margin-top: 4%;
}
.loginSubmit {
    margin-right: 30%;
    font-size: 20px;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
    padding: 1%;
}