  .toolbar {
    height: 60px;
    margin: -9px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

.toolbar .listDiv {
  width: fit-content;
  padding-left: 10%;
}
  a,
  a:visited,
  a:hover {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: rgb(23, 0, 128);
  }

  li{
    float: left;
    padding-left: 30px;
  }

  .menuList {
    list-style-type: none;
    overflow: hidden;
  }